/*header*/

header{
   background-color: #fff;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  font: 14px "SF-Heavy";
  color: #2C2E30;
  text-decoration: none;
  line-height: 48px;
}

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
  border-radius: 100%;
}

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 padding: .5rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

header nav .logo {
  float: left;
  background: url('../imgs/logo.png') center no-repeat;
  width: 185px;
  height: 54px;
  background-size: cover;
}

header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
}

/*section1*/

#section1{
    margin-top: 71px;
}

#section1 .bg1{
  background: url('../imgs/bg-1.png') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

#section1 h1{
  margin-bottom: 24px;
}

#section1 h4{
  margin-bottom: 24px;
}

#section1 .container{
  margin: auto;
}

#section1 .video .player{
  height: 445px;
  background-color: red;
  border-radius: 16px;

}

/*section2*/
#section2{
  margin: -50px 0 100px 0;
}

#section2 .img{
  height: 608px;
  background: url('../imgs/img-2.svg') center no-repeat;
}

#section2 h2{
  margin-bottom: 24px;
}

#section2 p{
  margin-bottom: 16px;
}

/*section3*/

#section3{
  position: relative;
}

#section3 .content .img-3{
  width: 157px;
  height: 203px;
  position: absolute;
  bottom: 36px;
  left: 26px;
  background: url("../imgs/img-3.svg") center no-repeat;
}

#section3 .content{
  position: relative;
}

#section3 .dots{
  width: 132px;
  height: 128px;
  position: absolute;
  background: url('../imgs/dots.svg') center no-repeat;
  background-size: cover;
  top: 0;
  right: 60px;
}

#section3 h3, #section3 p{
  text-align: center;
}

#section3 h3{
  margin-bottom: 24px;
}

#section3 .item, #section4 .item{
  margin-bottom: 36px;
}

#section3 .itemTitle, #section4 .itemTitle{
  font:24px "SF-Bold";
  color: #2F5BEA;
  margin: 0 0 24px 16px;
}

#section3 .icon, #section4 .icon{
  margin: 0 0 8px 16px;
}

#section3 .icon1{
  background: url('../imgs/icon1.svg') center no-repeat;
}

#section3 .icon2{
  background: url('../imgs/icon2.svg') center no-repeat;
}

#section3 .icon3{
  background: url('../imgs/icon3.svg') center no-repeat;
}

#section3 .icon4{
  background: url('../imgs/icon4.svg') center no-repeat;
}

#section3 .icon5{
  background: url('../imgs/icon5.svg') center no-repeat;
}

#section3 .icon6{
  background: url('../imgs/icon6.svg') center no-repeat;
}

/*section4*/

#section4{
  padding-top: 100px;
  position: relative;
  margin-bottom: 90px;
}

#section4 .bg-2{
  width: 100%;
  height: 404px;
  background: url('../imgs/bg-2.svg') center no-repeat;
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 0%;
}

#section4 .title h3{
  text-align: center;
  margin-bottom: 64px;
}

#section4 .photo{
  height: 618px;
  background: url('../imgs/photo.png') center no-repeat;
  margin-bottom: 36px;
}

#section4 .icon7{
  background: url('../imgs/icon7.svg') center no-repeat;
}

#section4 .icon8{
  background: url('../imgs/icon8.svg') center no-repeat;
}

#section4 .icon9{
  background: url('../imgs/icon9.svg') center no-repeat;
}

#section4 .icon10{
  background: url('../imgs/icon10.svg') center no-repeat;
}

#section5 .circle{
  width: 112px;
  height: 112px;
  padding: 5px;
  margin: 0 auto 24px auto;
  border-radius: 100%;
  border: 3px dashed #C0C6D3;
}

#section5 .circle:hover{
    border: 3px dashed #2F5BEA;
}

#section5 .circle .number{
  width: 96px;
  height: 96px;
  background-color: #545F75;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  font: 36px "SF-Bold";
  line-height: 96px;
}

#section5 .item .itemTitle{
  text-align: center;
  color: #2C2E30;
  font: 21px 'SF-Bold';
  margin-bottom: 11px;
}

#section5 .item{
  margin-bottom: 36px;
}

#section5 .item .arrow-right{
  background: url('../imgs/arrow.svg') center no-repeat;
  width: 32px;
  height: 92px;
  position: absolute;
  top: 25%;
  right: -24px;
  opacity: 0.5;
}

#section5 .item .arrow-left{
  background: url('../imgs/arrow-left.svg') center no-repeat;
  width: 32px;
  height: 92px;
  position: absolute;
  top: 25%;
  right: -24px;
  opacity: 0.5;
}

#section5 .item .arrow-down{
  background: url('../imgs/arrow-down.svg') center no-repeat;
  width: 92px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 36%;
  opacity: 0.5;
}

#section5 .text{
  text-align: center;
}

#section5 .action{
  padding-top: 64px;
}

#section5 .info{
  margin-right: 24px;
  color: #2C2E30;
  font: 24px "SF-Bold";
    line-height: 54px;
}

#section6{
  margin-bottom: 64px;
}

#section6 .item1{
  background: #FFFFFF;
  border: 1px solid #E7EAEE;
  box-shadow: 0px 2px 4px rgba(44, 46, 48, 0.0747283);
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 24px;
}

#section6 .item1 .text{
  margin-bottom: 36px;
}

#section6 .item1 .name{
  color: #2C2E30;
  font: 16px "SF-Bold";
  line-height: 32px;
}

#section6 .item1 .photo{
  border-radius: 100%;
  background: url('../imgs/photo.png') center no-repeat;
  background-size: cover;
  margin: 0px 16px;
}

#section7{
  margin-bottom: 72px;
}

#section7 h2{
  margin-bottom: 36px;
}

#section7 p{
  margin-bottom: 16px;
}

#section7 .img-4{
  background: url('../imgs/img-4.svg') center no-repeat;
  width: 412px;
  height: 523px;
  margin-top: -84px;
}

#section7 .photo2{
  height: 513px;
  background: url('../imgs/photo2.svg') center no-repeat;
}

#section7 a{
  font: 24px "SF-Bold";
  color: #2F5BEA;
  text-decoration: none;
}

#section8 {
  background-color: #F6F8F9;
  padding: 100px 0;
  margin-bottom: 100px;
}


#section8 .price{
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 36px;
}

#section8 .white{
  background: #FFFFFF;
  border: 1px solid #E7EAEE;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(44, 46, 48, 0.0504982);
}

#section8 .head{
  border-bottom: 1px solid #E7EAEE;
  text-align: center;
}

#section8 .titlePrice{
  font-size: 60px;
  padding: 30px 0 34px 0;
  line-height: 82px;
    font-family: 'Nato';
}

#section8 .blueTitlePrice{
  font-size: 60px;
  padding: 30px 0 34px 0;
  line-height: 82px;
  color: #2F5BEA;
  font-family: 'Nato';
}

#section8 .subtitle{
  font:18px "SF-Bold";
  margin-bottom: 34px;
}

#section8 .list {
  padding: 16px 38px 27px 67px;
}
#section8 .list li {
  line-height: 30px;
  position: relative;
}

#section8 .white li:after{
  background: url('../imgs/check.svg') center no-repeat;
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  top: 8px;
  left: -30px;
}

#section8 .white li:last-child:after {
  background: url('../imgs/Rectangle.svg') center no-repeat;
  height: 30px;
  width: 30px;
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  top: 8px;
  left: -30px;
}

#section8 .blue li:after{
  background: url('../imgs/check-white.svg') center no-repeat;
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  top: 8px;
  left: -30px;
}

#section9 {
  margin-bottom: 160px;
}

#section9 .streams iframe{
  height: 250px;
}

#sectionForm{
  padding: 100px 0;
  background: url('../imgs/pattern.svg') center no-repeat;
  width: 100%;
  background-color: #2F5BEA;
}

#sectionForm h3{
  color: #fff;
  text-align: center;
  margin-bottom: 72px;
}

#sectionForm p{
  color: #fff;
  margin: 24px 0 55px 0;
  text-align: center;
}

#sectionForm p a{
  font-family: "SF-Bold";
  text-decoration: underline;
  color: #fff;
}

#sectionForm input{
  margin-bottom: 24px;
}

#sectionForm button{
  background-color: #2C2E30;
  text-align: center;
  margin: 0 auto;
}

#sectionForm .center{
  text-align: center;
}

footer{
  padding: 64px 0 18px 0;
  background-color: #2C2E30;
  text-align: center;
}

footer .btns{
  margin-bottom: 92px;
}

footer a{
  color: #2F5BEA;
  margin-bottom: 36px;
}

footer .social-tel{
  background: url('../imgs/telegram.svg') center no-repeat
}

footer .social-vk{
  background: url('../imgs/vk.svg') center no-repeat
}

footer .social-fb{
  background: url('../imgs/facebook.svg') center no-repeat
}

footer .btn{
  display: block;
  background-color: #2F5BEA;
  border-radius: 100%;
  padding: 28px;
  opacity: 0.9;
  transition: 0.3s;
}

footer .btn:hover{
  opacity: 1;
}

footer .payment{
  background: url('../imgs/payment.png') left no-repeat;
  width: 214px;
  height: 35.67px;
  float: right;
}

footer .left a{
  font-size: 14px;
  margin-right: 8px;
  color: #fff;
}


.row-btn{
  width: 200px;
  display: flex;
  justify-content: space-between;
    margin: 36px auto 120px auto;
}

.blue {
  color: #FFFFFF;
  background: #2F5BEA;
  border: 1px solid #E7EAEE;
  box-shadow: 0px 2px 4px rgba(44, 46, 48, 0.0504982);
}

.streams {
  display: flex;
}

.streams .slick-slide{
  opacity: 0.5;
}

.streams .slick-center{
  opacity: 1;
}
