/*header*/

header{
   background-color: #fff;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  font: 14px "SF-Heavy";
  color: #2C2E30;
  text-decoration: none;
  line-height: 48px;
}

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
  border-radius: 100%;
}

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 padding: .5rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

header nav .logo {
  float: left;
  background: url('../imgs/logo.svg') center no-repeat;
  width: 185px;
  height: 54px;
  background-size: cover;
}

header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
}

/*bg1*/

#section1{
    margin-top: 71px;
}

#section1 .bg1{
  background: url('../imgs/bg-1.png') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

#section1 h1{
  margin-bottom: 24px;
}

#section1 h4{
  margin-bottom: 24px;
}

#section1 .container{
  margin: auto;
}

#section1 .video .player{
  height: 445px;
  background-color: red;
  border-radius: 16px;

}
