/*header*/

header{
   background-color: #fff;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  font: 14px "SF-Heavy";
  color: #2C2E30;
  text-decoration: none;
  line-height: 48px;
}

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
  border-radius: 100%;
}

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 padding: .5rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

header nav .logo {
  float: left;
  background: url('../imgs/logo.svg') center no-repeat;
  width: 185px;
  height: 54px;
  background-size: cover;
}

header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  float: none;
  margin-left: 0;
}

/*section1*/

#section1{
    margin-top: 71px;
}

#section1 .bg1{
  background: url('../imgs/bg-1.png') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

#section1 h1{
  margin-bottom: 24px;
}

#section1 h4{
  margin-bottom: 24px;
}

#section1 .container{
  margin: auto;
}

#section1 .video .player{
  height: 445px;
  background-color: red;
  border-radius: 16px;

}

/*section2*/
#section2{
  margin: -50px 0 100px 0;
}

#section2 .img{
  height: 608px;
  background: url('../imgs/img-2.svg') center no-repeat;
}

#section2 h2{
  margin-bottom: 24px;
}

#section2 p{
  margin-bottom: 16px;
}

/*section3*/

#section3{
  position: relative;
}

#section3 .content .img-3{
  width: 157px;
  height: 203px;
  position: absolute;
  bottom: 36px;
  left: 26px;
  background: url("../imgs/img-3.svg") center no-repeat;
}

#section3 .content{
  position: relative;
}

#section3 .dots{
  width: 132px;
  height: 128px;
  position: absolute;
  background: url('../imgs/dots.svg') center no-repeat;
  background-size: cover;
  top: 0;
  right: 60px;
}

#section3 h3, #section3 p{
  text-align: center;
}

#section3 h3{
  margin-bottom: 24px;
}

#section3 .item, #section4 .item{
  margin-bottom: 36px;
}

#section3 .itemTitle, #section4 .itemTitle{
  font:24px "SF-Bold";
  color: #2F5BEA;
  margin: 0 0 24px 16px;
}

#section3 .icon, #section4 .icon{
  margin: 0 0 8px 16px;
}

#section3 .icon1{
  background: url('../imgs/icon1.svg') center no-repeat;
}

#section3 .icon2{
  background: url('../imgs/icon2.svg') center no-repeat;
}

#section3 .icon3{
  background: url('../imgs/icon3.svg') center no-repeat;
}

#section3 .icon4{
  background: url('../imgs/icon4.svg') center no-repeat;
}

#section3 .icon5{
  background: url('../imgs/icon5.svg') center no-repeat;
}

#section3 .icon6{
  background: url('../imgs/icon6.svg') center no-repeat;
}

/*section4*/

#section4{
  padding-top: 100px;
  background-color: #F6F8F9;
}

#section4 .title h3{
  text-align: center;
  margin-bottom: 64px;
}

#section4 .photo{
  height: 618px;
  background: url('../imgs/photo.png') center no-repeat;
  margin-bottom: 36px;
}

#section4 .icon7{
  background: url('../imgs/icon7.svg') center no-repeat;
}

#section4 .icon8{
  background: url('../imgs/icon8.svg') center no-repeat;
}

#section4 .icon9{
  background: url('../imgs/icon9.svg') center no-repeat;
}

#section4 .icon10{
  background: url('../imgs/icon10.svg') center no-repeat;
}
